body {
  background-color: #f5f2f2;
  font-family: "JetBrains Mono";
  text-align: center;
}

p {
  color: black;
  font-size: 18px;
  font-weight: 80;
  margin-top: 35px;
}

a {
  color: #323236;
}

i {
  margin-top: 18px;
  margin-right: 20px;
}
.selection {
  margin-top: 15px;
  font-size: 16px;
}

#count {
  font-size: 15px;
  margin-top: 20px;
}

/* Styles for laptops */
@media only screen and (min-width: 768px) {
  .rectangle {
    width: 585px;
    height: 312px;
    margin-top: 235px;
  }
}

/* Styles for phones (iPhones mainly) */
@media only screen and (max-width: 414px) {
  .rectangle {
    width: 312px;
    height: 402px;
    margin-top: 80px;
  }
}

.rectangle {
  background-color: #f5f2f2;
  border-radius: 15px;
  border: 4px solid black;
  margin-left: auto;
  margin-right: auto;

  filter: drop-shadow(10px 10px 20px #5c6ace);
}

.dark-mode {
  background-color: #1b1e23;
}

@media (max-width: 414px) {
  #dark-mode-btn {
    position: absolute;
    top: 20px;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

button {
  background-color: #1b1e23;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "JetBrains Mono";
  font-weight: 80;
  border: 2px solid #1b1e23;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 8px;
  transform: translate(10%, 10%);
}