.container {
  margin-bottom: 2.5rem;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 5 / 4;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.2rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 0.8rem;
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  transition: opacity ease 250ms;
}

.slider-nav a.active {
  opacity: 1;
  transform: scale(1.2); /* Increase the size for active slide */
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  color: #fff;
}

.left-arrow {
  left: 0.5rem;
}

.right-arrow {
  right: 0.5rem;
}

/* CSS for the mobile view */
@media not all and (min-width: 640px) {
  .container {
    width: 90%;
    margin: auto;
    margin-bottom: 2.5rem;
  }
  .slider-nav a {
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }

  .slider-nav {
    bottom: 0.3rem;
    column-gap: 0.7rem;
  }

  .left-arrow {
    font-size: 1rem;
    left: 0.1rem;
  }

  .right-arrow {
    font-size: 1rem;
    right: 0.1rem;
  }

  .slider img {
    scroll-snap-align: start;
    object-fit: cover;
    height: auto;
    max-width: 100%;
  }

  .left-arrow,
  .right-arrow {
    display: none;
  }
}
